@media screen and (prefers-color-scheme: dark) {
    body {
      background: rgb(245, 145, 145);
      color: rgb(247, 21, 21);
        }
  }
  @media screen {
    body {
      background: #ffffff;
      color: rgb(49, 49, 49);
        }
  }

  .wrapper {
    text-align: center;
  }

  .buttton {
    position: absolute;
    top: 50%;
  }