@media screen and (prefers-color-scheme: dark) {
    body {
      background: rgb(245, 145, 145);
      color: white;
        }
  }
  @media screen {
    body {
      background: #d7ffcd;
      color: rgb(255, 213, 213);
        }
  }

